/* styles.css */

/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00060C; /* Fond noir */
    color: #fff;
  }
  
  /* Navbar */
  header {
    background-color: #00060C;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #29C6EE;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #fff;
    border-bottom: 2px solid #29C6EE;
  }
  
  /* Logo et contenu principal de l'en-tête */
  .header-content {
    text-align: center;
    margin-top: 80px; /* Pour ne pas que le contenu soit caché derrière la navbar */
    padding: 30px;
  }
  
  .logo {
    width: 300px;
    height: auto;
  }
  
  h1 {
    font-size: 36px;
    color: #29C6EE;
    margin: 20px 0;
  }
  
  p {
    font-size: 20px;
    color: #29C6EE;
  }
  
  /* Section principale */
  main {
    padding: 50px 20px;
    text-align: center;
  }
  
  .intro {
    background-color: #00060C;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .intro h2 {
    font-size: 32px;
    color: #29C6EE;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-size: 20px;
    color: #29C6EE;
    margin-bottom: 30px;
  }
  
  button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #29C6EE;
    color: #29C6EE;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #008CBA;
    transform: scale(1.05);
  }
  
  /* Footer */
  footer {
    background-color: #00060C;
    color: #29C6EE;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  footer p {
    font-size: 16px;
    color: #29C6EE;
  }
  