/* Général - Style du body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00060C; /* Fond noir */
    color: #fff;
  }
  
  /* Navbar */
  header {
    background-color: #00060C;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #29C6EE; /* Bleu clair */
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #fff;
    border-bottom: 2px solid #29C6EE;
  }
  
  /* Section des stats */
  main {
    padding: 80px 20px; /* Pour compenser la navbar fixe */
    text-align: center;
  }
  
  .stats-container {
    background-color: #00060C;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: auto;
  }
  
  h1 {
    font-size: 36px;
    color: #29C6EE;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    color: #29C6EE;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin-right: 10px;
    border: 2px solid #29C6EE;
    border-radius: 5px;
    background-color: #00060C;
    color: #fff;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #29C6EE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #008CBA;
    transform: scale(1.05);
  }
  
  .result {
    margin-top: 20px;
    padding: 20px;
    background-color: #00060C;
    border-radius: 10px;
  }

  .result p {
    font-size: 18px;
    color: #29C6EE;
  }
  
  /* Footer */
  footer {
    background-color: #00060C;
    color: #29C6EE;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  footer p {
    font-size: 16px;
  }
  